[Unit]
Description=prometheus zstack_service_exporter
After=network.target

[Service]
Environment="GOMAXPROCS=1"
ExecStart=/var/lib/zstack/zsservice/zs_service_exporter  -config.file=/var/lib/zstack/zsservice/config.yaml
ExecStop=/bin/sh -c 'pkill -TERM -f /var/lib/zstack/zsservice/zs_service_exporter'
StandardOutput=file:/var/lib/zstack/zsservice/zs_service_exporter.log
StandardError=file:/var/lib/zstack/zsservice/zs_service_exporter.log

MemoryLimit=1G

Restart=always
RestartSec=30s
[Install]
WantedBy=multi-user.target